@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Ace Pizza</h1>
        <h2 class="mainSubTitle">Ace Pizzas, is the pizza with the extra edge!</h2>
    </div>

    <img class="mainImage" src="~/images/AccE.jpg" />
    <br/>
    <a class="btn btn-outline-warning mt-1" asp-area="" asp-page="Pizza">GET ME THAT PIZZA</a>

</div>
